version: "3.9"

services:
  backend:
    build: backend
    container_name: backend
    ports:
      - "8080:8080"
      - "8081:8081"

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:8080
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend